/**
 * Convenient single import for dark variables
 * Includes base variables with dark overrides
 **/
/**
 * Dark variable overrides
 **/
.mybtn {
  padding: 20;
  /* iOS-not working, Android-ok */
  background-color: #aee406;
  color: #000;
  /* not working, TextBase needed */
  font-size: 20;
  /* not working, TextBase needed */
  font-weight: bold;
  /* not working, TextBase needed */
  font-style: normal;
  /* not working, TextBase needed */
  text-align: center;
  /* iOS - not working, Android - ok, TextBase needed */
  text-decoration: none;
  /* not working, TextBase needed */
  text-transform: lowercase;
  /* not working, TextBase needed */
  margin: 20;
  border-color: #aee406;
  border-width: 5;
  border-radius: 15;
  width: 200;
  opacity: 0.8; }
