.mybtn {
  padding: 20; /* iOS-not working, Android-ok */
  background-color: $mybtn-background-color;
  color: $mybtn-color; /* not working, TextBase needed */
  font-size: 20; /* not working, TextBase needed */
  font-weight: bold; /* not working, TextBase needed */
  font-style: normal; /* not working, TextBase needed */
  text-align: center; /* iOS - not working, Android - ok, TextBase needed */
  text-decoration: none; /* not working, TextBase needed */
  text-transform: lowercase; /* not working, TextBase needed */
  margin: 20; 
  border-color: $mybtn-border-color;
  border-width: $mybtn-border-width;
  border-radius: $mybtn-border-radius;
  width: 200;
  opacity: $mybtn-opacity;
}
